/* Write your CSS here! */
.img {
    height: 300px;
    

}

#redChair {
    width: 200px;
    border: 20px solid rgb(184, 81, 40);
}

.sidebar {
    /* found here & modified https://medium.com/@davidmellul/make-a-sidebar-for-your-website-the-easy-way-html5-css3-vanillajs-eccbb4d0cff6 */
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 20px;
    background-color: rgb(184, 81, 40);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color:white;
    text-align: center;
}

.funParagraph {
    color: green;
}

#list {
    text-align: left;
}

#whiteCenter {
    width: 960px;
    margin: auto;
    background-color: #fffbf1;
}

#instagram {
    width: 15px;
}

#nipped {
    width: 50%;
    height: 50%;
}

#mainHeading {
    color: red;
}

.pinkbackground {
    background-color: rgb(252, 219, 204);
}

body {
    text-align: center;
    background: url("https://image.freepik.com/free-vector/seamless-pattern-with-line-cats_1319-1019.jpg");
    background-attachment: fixed;
    background-size: 450px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 8 px;
    display: block;
}

h1 {
    background-color: rgb(230, 167, 142);
    text-indent: 20%;
    text-align: left;
}

h2 {
    background-color: rgb(196, 210, 219);
    color:rgb(255, 255, 255);
    text-indent: 24%;
    text-align: left;
}

p {
    text-align: center;
}